<html>
  <head>
    <title>Trivia Game</title>
  </head>
  <body>
    <h1>Trivia Game</h1>
    <form id="eval-form">
      <p><input id="btn-get-question" type="button" value="get-question"/>
          <input id="btn-check-answer" type="button" value="check" /></p>
    </form>
    <hr/>
    <h2>Question</h2>
    <div id="question-div">question...</div>

    <h2>Result</h2>
    <div id="result-div">result...</div>

    <script src="/js/client.js" language="javascript"></script>
    <script type="text/javascript" language="javascript">
      trivia.client.main()
    </script>
  </body>
</html>
